.container {
    width: 980px;
    margin: 0 auto;
    position: relative;
    max-height: 9001em;
}
.container:before, .clearfix:before, .container:after, .clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.section-title {
    position: relative;
    text-align: center;
    font-size: 24pt;
    font-family: $opensansExtraBold;
    margin-bottom: 45px;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 100%;
        margin-top: 10px;
        width: 150px;
        height: 16px;
        background-image: url(/img/line.png);
        background-position: center;
        background-repeat: no-repeat;
    }
}
/* Стили формы */
.apply_form {
    font-family: $opensansRegular;
    border-radius: 5px;
    background-color: #61ade1;
    padding: 20px;
    .apply_message {
        float: left;
        width: 32%;
        textarea {
            font-family: $opensansRegular;
            box-shadow: 0 -2px 0 #eeeded;
            height: 120px;
            box-sizing: border-box;
            resize: none;
            width: 100%;
            border: 1px solid transparent;
            padding: 15px 0 0 20px;
            font-size: 15pt;
            border-radius: 3px;
            background-color: #fff;
            color: #595959;
            &:-moz-placeholder {
                color: #595959;
            }
            &::-webkit-input-placeholder {
                 color: #595959;
             }
             &:focus {
                  border-color: #0867a9;
                  outline: 0;
                  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
        }
    }
    input {
        box-shadow: 0 -2px 0 #eeeded;
        height: 50px;
        width: 100%;
        outline: none;
        box-sizing: border-box;
        border: 1px solid transparent;
        padding: 10px 20px;
        font-size: 15pt;
        border-radius: 3px;
        background-color: #fff;
        margin-bottom: 20px;
        color: #595959;
        &:-moz-placeholder {
            color: #595959;
        }
        &::-webkit-input-placeholder {
            color: #595959;
         }
         &:focus {
              border-color: #0867a9;
              outline: 0;
              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }
    }
}
.best_btn {
    margin: 20px auto 0 auto;
    text-align: center;
    box-sizing: border-box;
    a {
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-color: #4ea3dd;
        background-clip: padding-box;
        transition: .3s;
        position: relative;
        display: inline-block;
        width: 150px;
        font-size: 14px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 10px 0;
        color: #ffffff;
        text-decoration: none;
        outline: none;
        box-shadow: 0 4px 0 #155c8d;
        top: 0;
        &:hover, &:active {
            top: 4px;
            box-shadow: 0 0 0 #155c8d;
        }
    }
}
.btn-red {
    cursor: pointer;
    background-color: #e74c3c;
    box-shadow: 0 4px 0 #7e1d13;
    border: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    transition: .3s;
    position: relative;
    display: inline-block;
    width: 150px;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 0;
    color: #ffffff;
    text-decoration: none;
    outline: none;
    top: 0;
    &:hover, &:active {
        top: 4px;
        box-shadow: 0 0 0 #7e1d13;
    }
}

.hidden {
    display: none !important;
}

#apply_form_list .has-error {
    box-shadow: 0 -2px 0 #e74c3c;
}
#apply_form_list .has-success {
    box-shadow: 0 -2px 0 #3c763d;
}

#montage_form_list .has-error {
    box-shadow: 0 -2px 0 #e74c3c;
}

#montage_form_list .has-success {
    box-shadow: 0 -2px 0 #3c763d;
}

#montage_form_list_success .has-error {
    box-shadow: 0 -2px 0 #e74c3c;
}

#montage_form_list_success .has-success {
    box-shadow: 0 -2px 0 #3c763d;
}


// Modal window
#modal_montage {
    text-align: center;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 15%;
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-left: -290px;
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
}
#modal_montage_success {
    text-align: center;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 15%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    margin-left: -290px;
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
}
#modal_success, #modal_montage_error {
    text-align: center;
    width: 280px;
    height: 70px;
    border-radius: 20px;
    border: 3px #61ade1 solid;
    background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 40%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
    margin-top: -100px;
	margin-left: -140px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 15px 10px;
    p {
        color: #555555;
        line-height: 24pt;
        font-family: $opensansRegular;
        font-size: 15pt;
    }
    a {
        display: none;
    }
}
#modal_montage_error {
    border: 3px #e74c3c solid;
    top: 35%;
    left: 85%;
}
/* Кнoпкa зaкрыть для модадльных окон */
#modal_montage_error .modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
}
#modal_success .modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color: #fff; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%;
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
